/* .formspage{
    text-anchor: middle;
    font-size: 1.125rem;
} */
html,body{
    height: 100%;
}
body{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: antiquewhite;
}
.form-signin{
    width: 100%;
    max-width: 530px;
    padding: 10px;
    margin: auto;
    text-anchor: middle;
    font-size: 1.125rem;
}