*{
margin: 0;
padding: 0;
}
body{
    background-image: url(./background_img.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.list{
    background-color: blueviolet transparent;
    color: white;
}
.heading{
    margin-bottom: 20px;
}
h2{
    color:rgb(139, 30, 241);
}
.fotter{
    background-color: blueviolet;
    width: 100%;
    height: 5vh;
    bottom: 0;
    position: absolute;    
}
.border.top{
     border-top: blueviolet;
     border-width: 5px;
}
